body {
  font-size: 14px;
  color: #fff;
 /* background-color: #61122f;*/
 background-color: #FEF5CA
  font-family: 'Oxygen', sans-serif;
  margin-bottom: 30px;
}

/*.container {
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}*/


/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
 
}

.container>.navbar-header {
   margin-bottom: 15px;
   margin-left: 0px;
 }

.navbar-brand {
  padding-top: 18px;
}


.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  /* text-transform: uppercase;*/
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 8px;
  margin-bottom: 0px;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  color: white;
}

#nav-list a {
  color: #951C49;

}

#nav-list a:hover {
  background: #E7E7E7;
}

#nav-list a span {
  font-size: 1.8em;
}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

.menu-header h2{ 
  font-size: 1.75em;
}

 .menu-item {
  background-color: green;
  padding: 15px;
  height: 1000px;
  margin-bottom: 30px;
   }

#item-chicken {
  font-size: 1.25em;
  font-weight: bold;

  }

  /*p {
    font-size: 1em;
  }*/

  @media (max-width: 767px){
  .visible-xs {
    margin-top: 10px;
    margin-bottom: 10px;

  }
}
